PORT =3001
NODE_ENV=development

DB_HOST =localhost
DB_PORT =5432
DB_NAME =quiz_vestibular
DB_USER =projeto_acelera
DB_PASSWORD=lfcebolabrunochaves

JWT_SECRET= b4a5127412c930336a9eae3fb2304e6702bf339dad9d7fa765eed42e5ee74bf15e938a5ccfb1370fd5af4e2c963423b69fb5d842ea3ac703bee7ebec7f462f81
JWT_EXPIRES_IN=7d

FRONTEND_URL=http://localhost:3000

MQTT_BROKER_URL=mqtt://localhost:1883
MQTT_CLIENT_ID=acelera_backend

