html,
body,
#root {
  height: 100%;
  overflow: hidden;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* LAYOUT */
.layout {
  min-height: 100vh;
  transition: 0.3s;
  overflow: hidden;
}

/* ABERTO */
.layout.open {
  grid-template-columns: 220px 1fr;
}

/* FECHADO */
.layout.closed .sidebar {
  width: 70px;
}

/* HEADER */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  height: 70px;
  z-index: 1000;

  background: linear-gradient(90deg, #2000b1, #3a1fd9);
  color: white;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 20px;
}

.logout-btn {
  display: flex;
  align-items: center;
  gap: 8px;

  background: transparent;
  border: none;

  cursor: pointer;

  font-size: 16px;
  font-weight: 600;
  color: #ffffff;

  transition: 0.2s;
}

.logout-btn:hover {
  color: #ff6d00;
}

/* LOGO */
.logo span {
  color: #ff6d00;
}

.logo-container-layout {
  display: flex;
  align-items: center;

}

.logo-header {
  width: 130px;
  height: 130px;
  object-fit: contain;
}

/* BOTÃO */
.menu-btn {
  background: none;
  border: none;
  color: white;
  font-size: 22px;
  cursor: pointer;
}

/* SIDEBAR */
.sidebar {
  position: fixed;
  top: 70px; /* altura do header */
  left: 0;
  bottom: 0;

  width: 220px;
  background: linear-gradient(0deg, #3a1fd9, #2000b1);
  padding: 15px;
  overflow-y: auto;
  transition: width 0.3s;
}

/* LINKS */
.item {
  display: flex;
  align-items: center;
  gap: 12px;

  padding: 12px;
  margin-bottom: 10px;

  border-radius: 10px;
  text-decoration: none;

  color: #ddd;
  transition: all 0.2s ease;
}

/* HOVER */
.item:hover {
  background: rgba(255, 255, 255, 0.15);
  color: white;
  transform: translateX(3px);
}

/* ÍCONE */
.icon {
  flex-shrink: 0;
}

/* CONTEÚDO */
.content {
  margin-top: 70px; /* espaço do header */
  margin-left: 220px; /* espaço da sidebar aberta */

  height: calc(100vh - 70px);

  overflow-y: auto;

  background: #eef1f7;
  padding: 25px;

  transition: margin-left 0.3s;
}

.layout.closed .content {
  margin-left: 70px;
}

.ajuda-btn {
  width: 100%;

  background: none;

  border: none;

  cursor: pointer;

  font-size: 16px;
}
